.wrapper{
	margin: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

img {
    height: 350px;
	border: 5px solid #fff;
	border-radius: 15px;
}

img.next, img.prev{
	width: 20px;
	height: 20px;
	margin-left: 220px;
	margin-top: 15px;
	padding: 20px;
	border: 1px solid #003366;
	border-radius: 5px;
}

img.next:hover, img.prev:hover{
	border: 1px solid #b3b3b3;
}

.row.out {
  margin-left: -500px;
}

.col.column-two{
	float: right;
}

.col.column-three{
	margin-right: 10px;
}

h1{
	color:  #003366;
	margin-left: 20px;
	font-size: 40px;
	font-family: Tahoma, sans-serif;
  	line-height: 1.6;
}

p{
	color:   #666666;
	margin-left: 20px;
	font-size: 25px;
	font-family: Tahoma, sans-serif;
  	line-height: 1.8;
}